OPENAI_API_KEY=INSERT_API_KEY_HERE

# Chroma Cloud
CHROMA_HOST=api.trychroma.com
CHROMA_API_KEY=INSERT_CHROMA_API_KEY_HERE
CHROMA_TENANT=51335609-8555-49e9-8762-830d64e37505
CHROMA_DATABASE=LLM-Based-Course-Scheduler
CHROMA_COLLECTION_PREFIX=course-catalog
